<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT" >
      <PatternLayout charset="gb2312" pattern="%d [%t] %C %-5level %line %msg %n"/>
    </Console>
    <File name="fieldsthread" fileName="target/fieldsthread.log" append="true">
		<PatternLayout charset="gb2312" pattern="%d{ISO8601} [%t] %-5level %line %logger{36} - %msg%n"/>
	</File>
	<File name="indexthread" fileName="target/indexthread.log" append="true">
		<PatternLayout charset="gb2312" pattern="%d{ISO8601} [%t] %-5level %line %logger{36} - %msg%n"/>
	</File>
	<File name="log" fileName="target/niubaisui.log" append="true">
		<PatternLayout charset="gb2312" pattern="%d{ISO8601} [%t] %-5level %line %logger{36} - %msg%n"/>
	</File>
	<RollingFile name="rollingfile" fileName="rollinglog.log"
		filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout charset="gb2312" pattern="%d{ISO8601} [%t] %-5level %line %logger{36} - %msg%n"/>	
		<SizeBasedTriggeringPolicy size="10kb"/>
	</RollingFile>
  </appenders>
  <loggers>
  <logger  name="FieldThread" level="all">
     <appender-ref ref="fieldsthread"></appender-ref>
     <appender-ref ref="Console"></appender-ref>
  </logger>
  <logger  name="IndexThread" level="all">
     <appender-ref ref="indexthread"></appender-ref>
     <appender-ref ref="Console"></appender-ref>
  </logger>
 
    <root level="trace">
        <appender-ref ref="Console"/>
    </root>
  </loggers>
</configuration>